<!DOCTYPE html>
	<html>
		<head>
			<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	    	                <li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
<li><a href="mailto:sn@sanjy.co">email</a></li>
        		<li><a href="http://www.linkedin.com/in/cod3boy">linkedin</a></li>
        		<li><a href="https://github.com/cod3boy">github</a></li>
        		<li><a href="http://stackoverflow.com/users/977676/cod3boy">stackoverflow</a></li>
        		<li><a href="https://www.facebook.com/cod3boy">facebook</a></li>
        		<li><a href="https://twitter.com/cod3boy">twitter</a></li>
        		<li><a href="https://angel.co/cod3boy">angel.co</a></li>
				</ul>
			</footer>
		</body>
	</html>
